.image-gallery-thumbnails-wrapper {
    margin-top: 10px;
}


.image-gallery-slide .image-gallery-image {
    height: 144px;
    /* background-color: rgb(229, 231, 235); */
}


.image-gallery-thumbnail {
    border-radius: 0.25rem;
}

.image-gallery-thumbnail .image-gallery-thumbnail-image {
    border-radius: 0.25rem;
    height: 44px;
    object-fit: contain;
}

.image-gallery-thumbnail.active {
    border: 1px solid rgb(96 165 250);
    border-radius: 0.25rem;
}