@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Montserrat Alternates', 'system-ui', sans-serif;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
  
  .fade {
    position: absolute;
    width: 100vw;
    left: 0;
    right: 0;
    padding: 2rem;
  }

  .textInVisible{
    opacity: 0;
    visibility: hidden;
  }

  .categoryFixed{
    width: 100vw;
    position: fixed;
    padding-left: 2rem;
    padding-right: 2rem;
    left: 0;
    right: 0;
    top: 0;
  }

  


}