@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Montserrat Alternates', 'system-ui', sans-serif;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }

  .fadeIn {
    -webkit-animation: 0.5s fadeIn forwards;
    animation: 0.5s fadeIn forwards;
    position: absolute;
    width: 100vw;
    left: 0rem;
    right: 0;
    padding: 2rem;
  }
  
  .fadeOut {
    -webkit-animation: 0.5s fadeOut forwards;
    animation: 0.5s fadeOut forwards;
    position: absolute;
    width: 100vw;
    left: 0;
    right: 0;
    padding: 2rem;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      left: -1.25rem;
    }
    to {
      opacity: 1;
      left: 0;
    }
  }
  
  @keyframes fadeOut {
    from {
      opacity: 1;
      left: 0;
    }
    to {
      opacity: 0;
      left: -1.25rem;
    }
  }

  .textInVisible{
    opacity: 0;
    visibility: hidden;
  }

  .categoryFixed{
    width: 100vw;
    position: fixed;
    padding-left: 2rem;
    padding-right: 2rem;
    left: 0;
    right: 0;
    top: 0;
  }


}